body
{
	background-color: darkkhaki;
}

p
{
	font-family:broadway;
	font-size: 17px;
	color:darkred;
	text-align: center;
	background-color: cadetblue;
}
h1
{
	font-family: great vibes;
	font-size: 30px;
	color:brown;
	text-align: center;
	border:5px dotted blueviolet;
	background-color: darkgrey;
}
h2
{
	font-family: bradley hand itc;
	font-size:30px;
	color:pink;
	text-align: center;
	background-color: black;
}
h3
{
	font-family: bradley hand itc;
	font-size: 30px;
	color:pink;
	text-align: center;
	background-color: black;
}
h4
{
	font-family: cavolini;
	font-size: 30px;
	color:pink;
	text-align: center;
	background-color: black;
	
}